# <span style="color:#222426">R + StackOverflow Workshop</span>
<div style="float:right"><img src="r_so_workshop.png" width="200px" /></div>

## <span style="color:#f48024">CRUG Meetup, August 20, 2019</span>

#### Instructions
1. Download the three StackOverflow query data sets (Posts, Users, Tags) as included below in seach section.
2. Work with each other to answer guided questions in cells or add your own interesting insights using any `library` and analytical method.
3. When completed, rename notebook and generate an HTML version in Jupyter or by command line: `jupyter nbconvert --to html "My_Group_Workshop_py.ipynb"`.
4. Using Git, push completed .ipynb or HTML notebooks to "Group_Submissions" of CRUG repo: **[2019-n7-R_StackOverflow-Workshop](https://github.com/Chicago-R-User-Group/2019-n6-useR-2019-bRew-and-View)**.
5. Volunteer to briefly present analyses and findings to full audience.

---

# <span style="color:#f48024">Posts</span>

### <span style="color:#222426">R Q/A Posts</span>

#### <span style="color:#222426">Data Explorer:</span> https://data.stackexchange.com/stackoverflow/query/1068739/r-answered-posts-since-2015

---
### Google BigQuery - StackOverflow Dataset
https://cloud.google.com/blog/products/gcp/google-bigquery-public-datasets-now-include-stack-overflow-q-a

#### SQL Query

<pre>
SELECT p.id, p.creation_date, p.score,
       p.view_count, p.owner_user_id, p.Title,
       p.tags, p.answer_count,
       CONCAT('https://stackoverflow.com/questions/', 
              CAST(p.id AS STRING)) As url
                       
FROM `bigquery-public-data.stackoverflow.posts_questions` p

WHERE p.tags LIKE 'r'
ORDER BY p.score DESC
</pre>

In [1]:
g_url <- 'https://drive.google.com/uc?export=download&id=17ITsjBM8w2krLaOSyeThUpiCWPDTgJ2E'
#download.file(g_url, "StackOverflow_R_Posts.csv")

In [2]:
posts_df <- read.csv("StackOverflow_R_Posts.csv")
head(posts_df, 10)

   id       creation_date               score view_count owner_user_id
1   5963269 2011-05-11 11:12:02.357 UTC 2476   254547     602276
2   1296646 2009-08-18 21:33:18.473 UTC 1221  1132383      84458
3   1299871 2009-08-19 13:18:11.25 UTC  1078   980229      23929
4   3505701 2010-08-17 18:31:12.913 UTC  976   375153     231588
5   4605206 2011-01-05 14:34:29.173 UTC  761  1218512     155406
6   4862178 2011-02-01 11:52:31.15 UTC   751  1268174     525563
7  21435339 2014-01-29 15:21:45.347 UTC  668   101643    2725969
8  12675147 2012-10-01 14:22:51.34 UTC   660    73567     190352
9   1741820 2009-11-16 12:14:51.313 UTC  622   164816     203420
10  8161836 2011-11-17 03:45:44.92 UTC   607   973347     734984
   Title
1  How to make a great R reproducible example
2  How to sort a dataframe by multiple column(s)
3  How to join (merge) data frames (inner, outer, left, right)
4  Grouping functions (tapply, by, aggregate) and the *apply family
5  Drop data frame columns by name
6  Remove rows with all or some NAs (missing values) in data.frame
7  data.table vs dplyr: can one do something well the other can't or does poorly?
8  How can we make xkcd style graphs?
9  What are the differences between "=" and "<-" in R?
10 How do I replace NA values with zeros in an R dataframe?
   tags                                        answer_count
1  <r><r-faq>                                  23
2  <r><sorting><dataframe><r-faq>              19
3  <r><join><merge><dataframe><r-faq>          13
4  <r><lapply><sapply><tapply><r-faq>           9
5  <r><dataframe><r-faq>                       19
6  <r><dataframe><filter><missing-data><r-faq> 16
7  <r><data.table><dplyr>                       3
8  <r><ggplot2>                                 7
9  <r><assignment-operator><r-faq>              7
10 <r><dataframe><na>                          16
   url
1  https://stackoverflow.com/questions/5963269
2  https://stackoverflow.com/questions/1296646
3  https://stackoverflow.com/questions/1299871
4  https://stackoverflow.com/questions/3505701
5  https://stackoverflow.com/questions/4605206
6  https://stackoverflow.com/questions/4862178
7  https://stackoverflow.com/questions/21435339
8  https://stackoverflow.com/questions/12675147
9  https://stackoverflow.com/questions/1741820
10 https://stackoverflow.com/questions/8161836

## <span style="color:#165CAA">Analyze, Graph, Test the Data!</span>

### How do the aggregates (min, max, mean, median, sd) of scores, views, upvotes trend over time?

### Do views trend or correlate positively or negatively with question scores and/or answer count?

### How many unique askers have there been over time? Do askers ask multiple times across time or in short periods?

---


# <span style="color:#f48024">Users</span>

### <span style = "color:#222426">R Gold, Silver, Bronze Badgeholders</span>

### <span style="color:#222426">Data Explorer:</span> https://data.stackexchange.com/stackoverflow/query/1068746

In [3]:
#download.file("https://data.stackexchange.com/stackoverflow/csv/1320628", "StackOverflow_R_Users.csv")

In [4]:
users_df <- read.csv("StackOverflow_R_Users.csv")
head(users_df, 10)

   Id      DisplayName     Reputation Url
1   190597 unutbu          585439     https://stackoverflow.com/users/190597
2   505088 David Heffernan 532356     https://stackoverflow.com/users/505088
3  3732271 akrun           457160     https://stackoverflow.com/users/3732271
4  3732271 akrun           457160     https://stackoverflow.com/users/3732271
5  3732271 akrun           457160     https://stackoverflow.com/users/3732271
6     1968 Konrad Rudolph  414904     https://stackoverflow.com/users/1968
7     1968 Konrad Rudolph  414904     https://stackoverflow.com/users/1968
8     1968 Konrad Rudolph  414904     https://stackoverflow.com/users/1968
9   367273 NPE             371516     https://stackoverflow.com/users/367273
10  367273 NPE             371516     https://stackoverflow.com/users/367273
   CreationDate        Location                  Views UpVotes Downvotes
1  2009-10-15 12:48:20                           34222 17139     626
2  2009-08-25 18:52:23 Ulverston, United Kingdom 81996 14061   23945
3  2014-06-12 01:21:33                           60262 29018       0
4  2014-06-12 01:21:33                           60262 29018       0
5  2014-06-12 01:21:33                           60262 29018       0
6  2008-08-19 15:59:21 Cambridge, United Kingdom 61557 15294    1083
7  2008-08-19 15:59:21 Cambridge, United Kingdom 61557 15294    1083
8  2008-08-19 15:59:21 Cambridge, United Kingdom 61557 15294    1083
9  2010-06-15 12:55:43 London, United Kingdom    22533  4078     676
10 2010-06-15 12:55:43 London, United Kingdom    22533  4078     676
   BadgeName BadgeDate           X
1  r         2015-06-24 09:57:22 bronze
2  r         2014-08-13 03:05:43 bronze
3  r         2014-10-20 03:06:24 gold
4  r         2014-08-05 03:06:14 silver
5  r         2014-07-01 03:14:35 bronze
6  r         2016-09-13 14:46:05 gold
7  r         2015-02-13 03:08:27 silver
8  r         2013-10-18 03:04:14 bronze
9  r         2013-12-12 03:12:13 silver
10 r         2011-09-20 03:01:46 bronze

## <span style="color:#165CAA">Analyze, Graph, Test the Data!</span>

### How long does it take high rep users to win R bronze, silver, badges over time?

### Do reputation correlate with upvotes and downvotes?

### What continents or countries maintain most R badge holders?

---

# <span style="color:#f48024">Tags</span>

### <span style="color:#222426">R and Other Question Tags</span>
### <span style="color:#222426">Data Explorer:</span> https://data.stackexchange.com/stackoverflow/query/1068751/r-and-other-question-tags

In [5]:
#download.file("https://data.stackexchange.com/stackoverflow/csv/1320660", "StackOverflow_R_Tags.csv")

In [6]:
tags_df <- read.csv("StackOverflow_R_Tags.csv")
head(tags_df, 10)

   TagName    TagYear TagCount MaxScore MaxViewCount MaxAnswerCount
1  dplyr      2019    1844     17       3383         8
2  ggplot2    2019    1836     39       2825         5
3  dataframe  2019    1352     14       1543         6
4  shiny      2019     933     20       3130         4
5  data.table 2019     594     15        565         6
6  tidyverse  2019     456     19        891         6
7  loops      2019     373     13        355         6
8  list       2019     360     10        441         7
9  function   2019     352     17        332         4
10 plot       2019     345      9       2380         4

## <span style="color:#165CAA">Analyze, Graph, Test the Data!</span>

### What are the top tags that appear along the main R tag?

### What are the trends of tag counts, score, views, answers over time?

### How do the popular framework, dplyr or data.table, trend with each other?

<br/>